@{
    ViewBag.Title = "About";
}
<h2 class="text-center">About</h2>

<div class="div1">
    <p>
        An 'About Us' page is a spot for your founding story, a place to show off your business wins, and a sales page that answers the most pressing question new customers have about your business.

        What an 'About Us' page should be is a goal-oriented sales page, one that focuses on highlighting the biggest selling points of your story and brand at the top of the page, making a strong first impression on curious customers

        In Shopify’s customer trust research, we found that shoppers navigate to an About Us page to learn more about the brand and the people behind the products. Your 'About Page' should address those two curiosities shoppers have to help with decision making.

        Shoppers are also interested in a company’s mission. They’ll use the About Us page to determine if they share core values with the business and to decide if they want to shop with the business or not.
    </p>
</div>
<hr />

<div class="div2">
    <p>
        An 'About Us' page is a spot for your founding story, a place to show off your business wins, and a sales page that answers the most pressing question new customers have about your business.

        What an 'About Us' page should be is a goal-oriented sales page, one that focuses on highlighting the biggest selling points of your story and brand at the top of the page, making a strong first impression on curious customers

        In Shopify’s customer trust research, we found that shoppers navigate to an About Us page to learn more about the brand and the people behind the products. Your 'About Page' should address those two curiosities shoppers have to help with decision making.

        Shoppers are also interested in a company’s mission. They’ll use the About Us page to determine if they share core values with the business and to decide if they want to shop with the business or not.
    </p>
</div>
<hr />
<div class="div3">
    <p>
        An 'About Us' page is a spot for your founding story, a place to show off your business wins, and a sales page that answers the most pressing question new customers have about your business.

        What an 'About Us' page should be is a goal-oriented sales page, one that focuses on highlighting the biggest selling points of your story and brand at the top of the page, making a strong first impression on curious customers

        In Shopify’s customer trust research, we found that shoppers navigate to an About Us page to learn more about the brand and the people behind the products. Your 'About Page' should address those two curiosities shoppers have to help with decision making.

        Shoppers are also interested in a company’s mission. They’ll use the About Us page to determine if they share core values with the business and to decide if they want to shop with the business or not.
    </p>
</div>
<hr />